* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  align-items: center;
  height: 100%;
}
body {
  height: 100vh;
  display: grid;
  grid-template-rows: 70px auto 30px;
}

header {
  background-color: #ff6d60;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #f3e99f;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.container {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px 0px;
}

.cell {
  background-color: #d34b4b;
  font-size: 36px;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 300ms;
  border-radius: 4px;
}
.cell.win {
  background-color: #62d382;
  color: #050000;
}

.cell:hover {
  background-color: #ff6d60;
}
footer {
  background-color: #98d8aa;
}
